name: Workflow Master Common

on:
  workflow_call:
    inputs:
      java-version:
        required: false
        type: string
        default: '25'
      increment-version:
        required: false
        type: boolean
        default: true
      increment-version-property:
        required: false
        type: string
      debug-mode:
        required: false
        type: boolean
        default: true
      settings-file:
        required: true
        type: string   

jobs:
  workflow-master-common:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    concurrency:
      group: master
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: ${{ inputs.java-version }}
          distribution: 'graalvm'

      - name: Bump version and push tag
        if: ${{ inputs.increment-version }}
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Display the tag
        if: ${{ inputs.debug-mode && inputs.increment-version }}
        run: |
          echo ${{ steps.tag_version.outputs.new_tag }}
          
      - name: Display the previous tag
        if: ${{ inputs.debug-mode && inputs.increment-version }}
        run: |
          echo ${{ steps.tag_version.outputs.previous_tag }}
          
      - name: Display the version
        if: ${{ inputs.debug-mode && inputs.increment-version }}
        run: |
          echo ${{ steps.tag_version.outputs.new_version }}
          
      - name: Display the previous version
        if: ${{ inputs.debug-mode && inputs.increment-version }}
        run: |
          echo ${{ steps.tag_version.outputs.previous_version }}
          
      - name: Display the release type
        if: ${{ inputs.debug-mode && inputs.increment-version }}
        run: |
          echo ${{ steps.tag_version.outputs.release_type }}     

      - name: Download Settings File
        run: |
          curl -o settings.xml -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" ${{ inputs.settings-file }}     

      - name: Set maven version
        if: ${{ inputs.increment-version && !inputs.increment-version-property }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: mvn versions:set -DnewVersion=${{ steps.tag_version.outputs.new_version }} --settings settings.xml
        
      - name: Set maven property version
        if: ${{ inputs.increment-version && inputs.increment-version-property}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: mvn versions:set-property -Dproperty=${{ inputs.increment-version-property }} -DnewVersion=${{ steps.tag_version.outputs.new_version }} --settings settings.xml
        
      - name: Build with Maven
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: mvn -B package --file pom.xml --settings settings.xml  